doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3', crossorigin='anonymous')
  link(rel='stylesheet', href='css/style.min.css')
header.relative.h700
  .titleHead.relative.pt-40.d-flex.jc-around
    .fs-20.fw-bold.d-flex.dreamshare  DREAMSHARE 
    .d-flex.ai-centre
      form.d-flex
        button.btn.btn-outline-success.logIn.fs-14(type='submit')
          | Log in
      form.d-flex
        button.btn.btn-outline-success.singUp.fs-14(type='submit')
          | Sign up
  .center
    .textPromo.relative.fs-52.mt-170.fw-bold
      | SHARE YOUR HOLIDAY DREAM
    .subPromo.relative.fs-24.mt-43
      | And find the perfect partner to fullfill it
    .find.fs-14.relative.mt-35.d-flex
      | Find your holiday partner
main
  .mt-90
    .fs-26.center.fw-bold How Dreamshare works?
    .d-flex.mt-35.jc-center.dreamwork
      .imagesDreamshare.ml-35.mr-10.step1.d-flex.flex-column.justify-content-end
        .step.text-uppercase step 1
        .fs-24 Sed leo enim, condimentum
        .fs-14.mt-20
          | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec
          | rhoncus a
          | leo sit amet facilisis.
      .imagesDreamshare.ml-10.mr-15.step2.d-flex.flex-column.justify-content-end
        .step.text-uppercase step 2
        .fs-24 Morbi velit risus
        .fs-14.mt-20
          | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet
          | porttitor est.
      .imagesDreamshare.ml-10.mr-15.step3.d-flex.flex-column.justify-content-end
        .step.text-uppercase step 3
        .fs-24 Sed leo enim, condimentum
        .fs-14.mt-20
          | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec
          | rhoncus a
          | leo sit amet facilisis.
    .mt-100.center
      .fw-bold.fs-26 Meet a partner for your best holiday
      .d-flex.jc-center.mt-35.partnerBox.swap
        .partnerFoto.d-flex.flex-column.ai-centre
          .bradley.relative
            .music.absolute.d-flex.ai-centre.jc-center
              i.fas.fa-music
          .fw-bold.fs-18.mt-20 Bradley Hunter
          .fs-14.center.mt-20.mb-30.gray
            | Based in Chicago. I love playing tennis and loud
            | music.
        .partnerFoto.d-flex.flex-column.ai-centre
          .diana.relative
            .camera.absolute.d-flex.ai-centre.jc-center
              i.fas.fa-camera
          .fw-bold.fs-18.mt-20 Diana Wells
          .fs-14.center.mt-20.mb-30.gray
            | Living in Athens, Greece. I love black and white
            | classics, chillout music and green tea.
        .partnerFoto.d-flex.flex-column.ai-centre
          .marie.relative
            .brush.absolute.d-flex.ai-centre.jc-center
              i.fas.fa-paint-brush
          .fw-bold.fs-18.mt-20 Marie Bennett
          .fs-14.center.mt-20.mb-30.gray
            | Currently living in Colorado. Lover of art,
            | languages and travelling.
        .partnerFoto.d-flex.flex-column.ai-centre
          .christopher.relative
            .plane.absolute.d-flex.ai-centre.jc-center
              i.fas.fa-plane
          .fw-bold.fs-18.mt-20 Christopher Pierce
          .fs-14.center.mt-20.mb-30.gray
            | Star Wars fanatic. I have a persistent enthusiasm
            | to create new things.
  .d-flex.jc-center
    .buttonSee.d-flex  See other partners 
  .mt-90.fw-bold
    .center.fs-26 Discover holiday activity ideas
    .mt-35
      .pad16
        .d-flex.jc-between.holiday
          .holidayFoto.d-flex.jc-center.ai-centre.col-3.sports.portion.relative
            .eclipse
            .absolute.d-flex.jc-center.ai-centre.fs-22.center Sports and Activis
          .holidayFoto.d-flex.jc-center.ai-centre.col-3.wellness.portion.relative
            .eclipse
            .absolute.d-flex.jc-center.ai-centre.fs-22.center Wellness and Health
          .holidayFoto.d-flex.jc-center.ai-centre.col-3.extreme.portion.relative
            .eclipse
            .absolute.d-flex.jc-center.ai-centre.fs-22.center
              | Extreme Sports and Expeditions
        .d-flex.jc-between.mt-20.holiday
          .holidayFoto.d-flex.jc-center.ai-centre.col-3.games.portion.relative
            .eclipse
            .absolute.d-flex.jc-center.ai-centre.fs-22.center Games
          .holidayFoto.d-flex.jc-center.ai-centre.col-6.culture.bigPortion.relative
            .eclipse
            .absolute.d-flex.jc-center.ai-centre.fs-22.center Culture and Education
        .d-flex.jc-between.mt-20.holiday
          .holidayFoto.d-flex.jc-center.ai-centre.col-6.relaxation.bigPortion.relative
            .eclipse
            .absolute.d-flex.jc-center.ai-centre.fs-22.center Enjomet and Relaxation
          .holidayFoto.d-flex.jc-center.ai-centre.col-3.trevelling.portion.relative
            .eclipse
            .absolute.d-flex.jc-center.ai-centre.fs-22.center Trevelling
  .mt-90
    .center.fs-26.fw-bold
      | Crate your holiday activity
    .center.fs-18.mt-60
      | Hi! What are your holiday interests?
    .d-flex.jc-center.mt-20
      nav.navbar.navbar-light.bg-light
        .container-fluid
          form.d-flex
            input.form-control.me-2(type='search', placeholder='Enter your insterests', aria-label='Search')
            button.btn.btn-outline-success.searchPartner.fs-14(type='submit')
              | Search
              | partners
footer.d-flex.mt-90
  .fs-16.hotpink.footerText DREAMSHARE
  .fs-14.ml-14
    .fw-bold
      div Company
    .gray
      .mt-11 About
      .mt-11 Contact
      .mt-11 Press
      .mt-11 Blog
      .mt-11.w120 Terms and Privacy
      .mt-11 Help
  .fw-bold.ml-14.fs-14 Partners
  .fs-10.gray.designed
    .text-end  DESIGNED BY 
    .mt-11
      img(src='images/ARETO.png', alt='images')
